{% extends "bootstrap/base.html"%}
 
{% block title%}学生竞赛信息系统{% endblock %}<!--覆盖title标签-->
 
{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">竞赛系统</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">用户登录</a></li>
            <li><a href="#">信息</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Java
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">jmeter</a></li>
                    <li><a href="#">EJB</a></li>
                    <li><a href="#">Jasper Report</a></li>
                    <li class="divider"></li>
                    <li><a href="#">分离的链接</a></li>
                    <li class="divider"></li>
                    <li><a href="#">另一个分离的链接</a></li>
                </ul>
            </li>
        </ul>
    </div>
    </div>
</nav>
{% endblock %}
{% block content %} <!--具体内容-->
<div class="container">
 <div class="container">
     {% if message %}{{ message }}{% endif %}
 <form method="post">
 <label for="identity">选择身份</label>
     <select class="form-control" name="manufacturer" id="manufacturer">
			<option >学生</option>
			<option >老师</option>
			<option>管理员</option>
			<option>赛事主办方</option>
		</select>
 <div class="form-group">
 <label for="username">用户名</label><br>
{{ form.username }}
 </div>
 <div class="form-group">
 <label for="password">密码</label><br>
{{ form.password }}
 </div>
 <button type="submit" class="btn btn-default">登录</button>
     <button type="button" class="btn btn-default"><a href={{ url_for('register') }}>注册</a></button>
 </form>
 </div>
</div>
{% endblock %}